{{ define "content" }}
<div class="container">
    <h1 class="mt-4">History Kapasitas Tempat Sampaah</h1>
    <table class="table mt-4">
        <thead>
            <tr width="200px">
                <th scope="col">No</th>
                <th scope="col">Kode Device</th>
                <th scope="col">Nama Device</th>
                <th scope="col">Tanggal Update</th>
                <th scope="col">Kapasitas Terakhir</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{ range .history }}
            <tr>
                <td>{{ .Capacity_history_id }}</td>
                <td>{{ .Device_id }}</td>
                <td>{{ .Device_name }}</td>
                <td>{{ .Date_updated }}</td>
                <td>{{ .Capacity }}%</td>
                <td>{{ .Status_device }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}